/* CEZET Map v2.5
 * 9.5.2013 (c) Moravio.com
 * Licence CC BY
 */

/* ==============================
 * obecne nastaveni mapy
 * ============================== 
 */

@font-face {
	font-family: 'cezetmap';
	src:url('font/cezetmap.eot');
	src:url('font/cezetmap.eot?#iefix') format('embedded-opentype'),
		url('font/cezetmap.woff') format('woff'),
		url('font/cezetmap.ttf') format('truetype'),
		url('font/cezetmap.svg#cezetmap') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ==============================
 * zakladni nastaveni mapy
 * ============================== 
 */

.cezetmap{
	/* width & height ratio: 1.734 */
	/* 370 / 1.734 = 213.39 */

	width: 370px;
	height: 213px;
	margin: 0 auto;
	position: relative;	
	overflow: hidden;
}

.cezetmap .kraje,
.cezetmap .mesta{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* ==============================
 * nastaveni kraju
 * ============================== 
 */

.cezetmap .kraje{	
	font-family: "cezetmap";
	font-weight: normal; 
	font-style: normal; 
	font-size: 370px;
	line-height: 1em;

	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "liga=1";
	-ms-font-feature-settings: "liga" 1;
	-ms-font-feature-settings: "liga", "dlig";	
	z-index: 700;
}

/* IE9, IE10 hack */
@media screen and (min-width:0\0) {
	.cezetmap .kraje{
		line-height: normal;
	}
}

.cezetmap .kraj{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.cezetmap .kraj_env{
	display: none;
}

.cezetmap .zlinsky:before, .cezetmap .moravskoslezsky:before, .cezetmap .jihomoravsky:before, .cezetmap .olomoucky:before,
.cezetmap .vysocina:before, .cezetmap .pardubicky:before, .cezetmap .kralovehradecky:before, .cezetmap .jihocesky:before,
.cezetmap .hlavni-mesto-praha:before, .cezetmap .stredocesky:before, .cezetmap .liberecky:before, .cezetmap .plzensky:before,
.cezetmap .ustecky:before, .cezetmap .karlovarsky:before{
	font-family: 'cezetmap';
	speak: none;
	display: block;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.cezetmap .zlinsky:before            { content: "a"; }		
.cezetmap .moravskoslezsky:before    { content: "b"; }
.cezetmap .jihomoravsky:before       { content: "c"; }
.cezetmap .olomoucky:before          { content: "d"; }
.cezetmap .vysocina:before           { content: "e"; }
.cezetmap .pardubicky:before         { content: "f"; }
.cezetmap .kralovehradecky:before    { content: "g"; }
.cezetmap .jihocesky:before          { content: "h"; }
.cezetmap .hlavni-mesto-praha:before { content: "i"; }
.cezetmap .stredocesky:before        { content: "j"; }
.cezetmap .liberecky:before          { content: "k"; }
.cezetmap .plzensky:before           { content: "l"; }
.cezetmap .karlovarsky:before        { content: "m"; }
.cezetmap .ustecky:before            { content: "n"; }

.cezetmap .zlinsky                   { color: #59C6F5; }
.cezetmap .moravskoslezsky           { color: #90D9F8; }
.cezetmap .jihomoravsky              { color: #7DD2F7; }
.cezetmap .olomoucky                 { color: #59C6F5; }
.cezetmap .vysocina                  { color: #59C6F5; }
.cezetmap .pardubicky                { color: #90D9F8; }
.cezetmap .kralovehradecky           { color: #7DD2F7; }
.cezetmap .jihocesky                 { color: #59C6F5; }
.cezetmap .hlavni-mesto-praha        { color: #59C6F5; }
.cezetmap .stredocesky               { color: #90D9F8; }
.cezetmap .liberecky                 { color: #7DD2F7; }
.cezetmap .plzensky                  { color: #59C6F5; }
.cezetmap .ustecky                   { color: #59C6F5; }
.cezetmap .karlovarsky               { color: #90D9F8; }

.cezetmap .kraj_hover                { color: #ff4354; }
.cezetmap .kraj_active               { color: #138cc6; }

/* ==============================
 * nastaveni mest
 * ==============================
 */

.cezetmap .mesta{
	z-index: 800;	
}

.cezetmap .mesto,
.cezetmap .mesto_active:before,
.cezetmap .mesto_hover:before{
	display: block;
	position: absolute;
	font-size: 0;
	border-radius: 100%;
}

.cezetmap .mesto{
	width: 8px;
	height: 8px;
	margin-left: -4px;
	margin-top: -4px;
	font-family: Arial, Helvetica, sans-serif;
	background: white;
}

.cezetmap .mesto:after{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 600;
	text-indent: 0;
}

.cezetmap .mesto_hover.mesto:after{
	display: none;
}

.cezetmap .mesto_active:before,
.cezetmap .mesto_hover:before{
	content: "";
	width: 16px;
	height: 16px;
	margin-left: -5px;
	margin-top: -5px;
	border: 1px solid white;
	z-index: 800;
}

.cezetmap .mesto a{
	display: block;
	color: white;
	text-decoration: none;
}

.cezetmap .mesto a.noPointer{
	cursor: default !important;
}

/* ==============================
 * nastaveni tooltipu pro mesta
 * ==============================
 */

.cezetmap .mesto_env{
	display: none;
	-moz-border-radius: 11px / 10px;
	-webkit-border-radius: 11px / 10px;
	border-radius: 11px / 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: rgba(34,44,64,.8);

	font-size: 12px;
	color: white;
	width: 100px;
	padding: 5px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -55px;
	text-align: center;
	z-index: 999;
}

.cezetmap .mesto_env:before{
	content: " ";
	display: block;
	position: absolute;
	width: 0px;
	height: 0px;
	position: absolute;
	left: 50%;
	margin-left: -6px;
	top: 100%;
	border: solid transparent;
	border-top-color: rgba(34,44,64,.8);
	border-width: 6px;
}

.cezetmap .mesto_hover .mesto_env{
	display: block;
}

