/* CEZET Map v2.2		          */
/* 8.3.2013 (c) Moravio.com 	  */
/* Licence CC BY 				  */

/* ============================== */
/* obecne nastaveni mapy          */
/* ============================== */

.cezetmap{
	/* width & height ratio: 1.734 */
	width: 800px;
	height: 461px;
}

.cezetmap .kraje{
	font-size: 800px;
}

/* ============================== */
/* stylovani stranky              */
/* ============================== */

body{
	background-color: #273248;
	font-family: Arial, Helvetica, sans-serif;
}

.cezetmap_area{
	width: 800px;
	padding: 30px;
	margin: 0 auto;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	margin-bottom: 25px;
}

.cezetmap_code{
	width: 800px;
	padding: 15px 30px;
	margin: 0 auto;
	font-size: 11px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	margin-bottom: 25px;
	line-height: 1.6em;
}

.cezetmap_code a{
	color: #FF4250;
}

.cezetmap_code code{
	display: block;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	margin: 15px 0;
}

.project_info{
	text-align: center;
	font-size: 12px;
	margin: 20px 0;
	color: #6695C2;
}

.project_info a{
	color: white;
	text-decoration: none;
}

/* ============================== */
/* vypis souradnic 	              */
/* ============================== */

.class_name{
	color: #008EC5;
	border-bottom: 1px dotted silver;
}

/* ============================== */
/* mapove podklady 	              */
/* ============================== */

.toggle_map{
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 999;
	padding: 5px;
	background: white;
	color: #FF4250;
	text-decoration: none;
	font-size: 11px;
}

.cezetmap_area.withMap{
	background: transparent url("sourcemap.jpg") no-repeat -3px -5px;
}

.cezetmap_area.withMap .cezetmap .kraje{
	opacity: .5;
}
